<div class="box">     
    <div class="user_top_button_container">   
      <div class="header_bg">
        <h2> Employee Data </h2>
      </div>
      <div class="top_button_left">
      <div class="button_container">  
            <img src="../images/search.png" width="153" height="35" border="none"/>
            <a href="Add_an_employee.html">
            <img src="../images/addbutton.png" width="128" height="40" border="none"/>
            </a>
            <a href="edit employee.html">
            <img src="../images/editbutton.png" width="128" height="39" border="none"/>
            </a>
                      
         </div> 
      <div class="emp_text"> <a href="default.asp">Advanced Search</a></div>         
       </div>
    </div>


<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @employee_record.title %>
</p>
<p>
  <b>User name:</b>
  <%= @employee_record.user_name %>
</p>

<p>
  <b>Fore name:</b>
  <%= @employee_record.fore_name %>
</p>


<p>
  <b>Sur name:</b>
  <%= @employee_record.sur_name %>
</p>

<p>
  <b>Nick name:</b>
  <%= @employee_record.nick_name %>
</p>

<p>
  <b>Dob:</b>
  <%= @employee_record.dob %>
</p>

<p>
  <b>Gender:</b>
  <%= @employee_record.gender %>
</p>

<p>
  <b>Designation:</b>
  <%= @employee_record.designation %>
</p>

<p>
  <b>Phone:</b>
  <%= @employee_record.phone %>
</p>

<p>
  <b>Mobile:</b>
  <%= @employee_record.mobile %>
</p>

<p>
  <b>Postal code:</b>
  <%= @employee_record.postal_code %>
</p>

<p>
  <b>Email:</b>
  <%= @employee_record.email %>
</p>

<p>
  <b>Address:</b>
  <%= @employee_record.address %>
</p>

<p>
  <b>Doj:</b>
  <%= @employee_record.doj %>
</p>

<p>
  <b>Comments:</b>
  <%= @employee_record.comments %>
</p>


<%= link_to 'Edit', edit_employee_record_path(@employee_record) %> |
<%= link_to 'Back', employee_records_path %>
</div>